@page "/cms/contents"
@model CoreCMS.Panel.Areas.CMS.Pages.ContentsModel
@{
    Layout = "_Layout";
}
@if (Model.CurrentContent != null)
{
    <h1>@Model.CurrentContent.Name</h1><br />
    <div>
        <ul>
            @foreach (var prop in Model.CurrentContent.GetSerializedProperties())
            {
                <li>@prop.name: @prop.value</li>
            }
        </ul>
    </div>
}
else
{
    <h1>Root page</h1><br />
}


@*<div id="content-data">
    <h6>{{name}}</h6>
    <ul>
        <li v-for="item in chield"></li>
    </ul>
</div>*@

<hr />
@if (Model.ContentsToShow != null)
{
    <h3>Chield objects:</h3><br />
    @foreach (var chield in Model.ContentsToShow)
    {
        <a href="/cms/contents?id=@chield.Id">@chield.Name</a><br />
    }
}

@*@section ScriptsData
{
    @if(Model.CurrentContent != null)
    {
        <script>
            window.model = @Html.Raw(Model.CurrentContent.Serialize().ToJson());
        </script>
    }
}*@
